---
import Layout from '../layouts/Layout.astro';
import StickyNav from '../components/StickyNav.astro';
import Hero from '../components/sections/Hero.astro';
import StatsBar from '../components/sections/StatsBar.astro';
import AboutSky49 from '../components/sections/AboutSky49.astro';
import Highlights from '../components/sections/Highlights.astro';
import ProjectGallery from '../components/sections/ProjectGallery.astro';
import CurrentSiteUpdates from '../components/sections/CurrentSiteUpdates.astro';
import InvestorOpportunity from '../components/sections/InvestorOpportunity.astro';
import InvestorsDesk from '../components/sections/InvestorsDesk.astro';
import WhySky49Compare from '../components/sections/WhySky49Compare.astro';
import Specifications from '../components/sections/Specifications.astro';
import FloorPlans from '../components/sections/FloorPlans.astro';
import SitePlan from '../components/sections/SitePlan.astro';
import AmenitiesGallery from '../components/sections/AmenitiesGallery.astro';
import LocationProximity from '../components/sections/LocationProximity.astro';
import YouTubeWalkthrough from '../components/sections/YouTubeWalkthrough.astro';
import FAQSection from '../components/sections/FAQSection.astro';
import ContactSection from '../components/sections/ContactSection.astro';
import Footer from '../components/Footer.astro';
import MobileStickyCTA from '../components/MobileStickyCTA.astro';
import WhatsAppFloat from '../components/WhatsAppFloat.astro';
import { site } from '../data/site';
---

<Layout title={site.title} description={site.description} canonicalPath="/">
  <div class="pb-24 sm:pb-0">
    <StickyNav />
    <main>
      <Hero />
      <YouTubeWalkthrough />
      <StatsBar />
      <div class="defer-render-sections">
        <InvestorOpportunity />
        <InvestorsDesk />
        <AboutSky49 />
        <Highlights />
        <CurrentSiteUpdates />
        <FloorPlans />
        <SitePlan />
        <WhySky49Compare />
        <ProjectGallery />
        <Specifications />
        <AmenitiesGallery />
        <LocationProximity />
        <FAQSection />
        <ContactSection />
      </div>
    </main>
    <Footer />
    <MobileStickyCTA />
    <WhatsAppFloat />
  </div>
</Layout>
